{% extends 'registration/password_change.html' %}

{% block password_content %}
    <div class="card-body">
        <div class="row">
            <div class="col-xl-3 col-lg-3"></div>
            <div class="col-lg-9 col-xl-6">
                <div class="alert alert-custom alert-secondary">
                    <div class="alert-icon"><i class="la la-check-circle-o text-success icon-3x"></i></div>
                    <div class="alert-text">Пароль успешно изменен!</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}