{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Восстановление пароля</title>
    <base href="">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="{% static 'plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/style.bundle.css' %}" rel="stylesheet" type="text/css">
</head>

<body id="kt_body" class="header-static" data-gr-c-s-loaded="true">
    <div class="d-flex flex-column flex-root">
        <div class="d-flex flex-row flex-column-fluid page">
			<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
                <div class="row justify-content-center">
                    <div class="col-6">
                        <div id="kt_header" class="header header__transparent">
                            <div class="container d-flex align-items-stretch justify-content-between">
                                <div class="d-none d-lg-flex align-items-center">
                                    <a href="/"><img alt="Logo" src="{% static 'img/icon.png' %}" class="logo-sticky max-h-35px mr-8">Калькулятор общего анализа крови</a>
                                </div>
                            </div>
                        </div>
                        <div class="my-20">
                            <h1 class="mb-8">{{ username }},</h1>
                            <p>Чтобы сбросить пароль нажмите на кнопку:</p>
                            <div class="my-12" style="text-align: center">
                                <a href="/" onclick = "this.href=document.getElementById('mail-link').innerHTML" class="btn btn-primary btn-pill font-weight-bold">Восстановить пароль</a>
                            </div>
                            <div class="mb-4">
                                <p>Если кнопка не работает, пожалуйста, скопируйте данную ссылку и встатьте ее в браузер:</p>
                                <span class="text-primary" id="mail-link">{{protocol}}: // {{domain}} { % url 'password_reset_confirm' uidb64 = uid token = token %}</span>
                            </div>
                            <p class="text-muted">Если Вы не запрашивали смену пароля, пожалуйста, игнорируйте это письмо.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>