{% extends "registration/accounts_index.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}Войти{% endblock %}

{% block content %}
    <div class="login-signin">
        {% if validlink %}
        <div class="mb-20">
            <h3>Сброс пароля</h3>
            <p class="opacity-60 font-weight-bold">Введите новый пароль</p>
        </div>
        <form class="form" method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-group text-center mt-10">
                <button type="submit" class="btn btn-pill btn-outline-white font-weight-bold opacity-90 px-15 py-3 mr-2">Сохранить</button>
                <button type="button" onclick="location.href='/'" class="btn btn-pill btn-outline-white font-weight-bold opacity-90 px-15 py-3">Отмена</button>
            </div>
        </form>
        {% else %}
            <div class="mb-20">
                <h3>Токен неверен</h3>
                <p class="opacity-60 font-weight-bold">Пожалуйста, пройлите процедуру восстановления пароля еще раз</p>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block extra_script %}
<script>
    $(document).ready(function(){
        let customizeForm = function(input, div, placeholder) {
            div.css('display', 'none');
            input.attr('placeholder', placeholder);
            input.removeClass().addClass('form-control h-auto text-white placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-0 py-4 px-8 mb-5')
        };

        customizeForm($('#id_new_password1'), $('#div_id_new_password1 label'), 'Пароль');
        customizeForm($('#id_new_password2'), $('#div_id_new_password2 label'), 'Подтврждение пароля');
    });
</script>
{% endblock %}