{% extends 'registration/password_change.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block password_content %}
    <form class="form" method="POST">
        {% csrf_token %}
        <div class="card-body">
            <div class="row">
                <div class="col-xl-3 col-lg-3"></div>
                <div class="col-lg-9 col-xl-6">
                    {{ form|crispy }}
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-xl-3 col-lg-3"></div>
                <div class="col-lg-9 col-xl-6">
                    <button type="submit" class="btn btn-success mr-2">Сохранить</button>
                    <a href="{% url 'cbc:cbc-list' %}" class="btn btn-secondary">Отмена</a>
                </div>
            </div>
        </div>
    </form>
{% endblock %}