{% extends "registration/accounts_index.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}Восстановить пароль{% endblock %}

{% block content %}
    <div class="login-signin">
        <div class="mb-20">
            <h3>Восстановление пароля</h3>
            <p class="opacity-60 font-weight-bold">Введите адрес электронной почты, указанной при регистрации, чтобы получить ссылку для восстановления пароля</p>
        </div>
        <form class="form" method="POST" action="{% url 'password_reset' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-group text-center mt-10">
                <button type="submit" class="btn btn-pill btn-outline-white font-weight-bold opacity-90 px-15 py-3 mr-2">Сменить пароль</button>
                <button type="button" onclick="location.href='/'" class="btn btn-pill btn-outline-white font-weight-bold opacity-90 px-15 py-3">Отмена</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block extra_script %}
<script>
    $(document).ready(function(){
        let email = $('#id_email');

        $('#div_id_email label').css('display', 'none');
        email.attr('placeholder', 'Email');
        email.removeClass().addClass('form-control h-auto text-white placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-0 py-4 px-8 mb-5')
    });
</script>
{% endblock %}