{% extends "registration/accounts_index.html" %}
{% load static %}

{% block head_title %}Восстановить пароль{% endblock %}

{% block content %}
    <div class="login-signin">
        <div class="mb-20">
            <h3 class="mb-8">Успешно</h3>
            <p class="opacity-60 font-weight-bold">
                Новый пароль сохранен. Теперь Вы можете использовать его для входа в аккаунт.
            </p>
        </div>
        <div class="form-group text-center px-8">
            <a href="{% url 'patient:login' %}" id="kt_login_forgot" class="text-white font-weight-bold">Войти</a>
        </div>
    </div>
{% endblock %}