{% extends "patient/accounts_index.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}Зарегистрироваться{% endblock %}

{% block content %}
    <div class="login-signin">
        <div class="mb-20">
            <h3>Регистрация</h3>
            <p class="opacity-60 font-weight-bold">Введите свои данные, чтобы создать аккаунт</p>
        </div>
        <form class="form" method="POST" action="{% url 'patient:register' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-group text-center mt-10">
                <button type="submit" class="btn btn-pill btn-outline-white font-weight-bold opacity-90 px-15 py-3 mr-2">Зарегистрироваться</button>
                <button type="button" onclick="location.href='/'" class="btn btn-pill btn-outline-white font-weight-bold opacity-90 px-15 py-3">Отмена</button>
            </div>
        </form>
        <div class="mt-10">
            <span class="opacity-70 mr-4">Уже есть аккаунт?</span>
            <a href="{% url 'patient:login' %}" id="kt_login_signup" class="text-white font-weight-bold">Войдите</a>
        </div>
    </div>
{% endblock %}