{% extends "index.html" %}
{% load static %}

{% block head_title %}Результаты анализа{% endblock %}

{% block content %}
    <div class="content  d-flex flex-column flex-column-fluid pt-0" id="kt_content">
        <div class="subheader py-3 py-lg-8  subheader-transparent " id="kt_subheader">
            <div class=" container  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                <div class="d-flex align-items-center flex-wrap mr-1">
                    <button class="burger-icon burger-icon-left mr-4 d-inline-block d-lg-none" id="kt_subheader_mobile_toggle"><span></span></button>
                    <div class="d-flex align-items-baseline mr-5">
                        <h2 class="subheader-title text-dark font-weight-bold my-2 mr-3">Результаты анализа</h2>
                        <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold my-2 p-0">
                            <li class="breadcrumb-item">
                                <a href="/" class="text-muted">Главная</a>
							</li>
                            {% if request.user.is_authenticated %}
	                    	<li class="breadcrumb-item">
	                        	<a href="{% url 'cbc:cbc-list' %}" class="text-muted">Список результатов</a>
							</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column-fluid">
            <div class=" container ">
                <div class="d-flex flex-row">
                    {% if request.user.is_authenticated %}
                    {% include 'utils/side_panel.html' %}
                    <div class="flex-row-fluid ml-lg-8">
                    {% else %}
                    <div class="flex-row-fluid">
                    {% endif %}
                        <div class="card card-custom card-stretch">
                            <div class="card-header py-3">
                                <h3 class="card-title">Результаты анализа от {{ object.analysis_date }}</h3>
                            {% if request.user.is_authenticated %}
                                <div class="card-toolbar">
                                    {% if object.type == 3 %}
                                        <a href="{% url 'cbc:three-dif-update' pk=object.id%}" class="btn btn-warning mr-2">Изменить</a>
                                    {% elif object.type == 5 %}
                                        <a href="{% url 'cbc:five-dif-update' pk=object.id%}" class="btn btn-warning mr-2">Изменить</a>
                                    {% elif object.type == 9 %}
                                        <a href="{% url 'cbc:blood-smear-update' pk=object.id%}" class="btn btn-warning mr-2">Изменить</a>
                                    {% endif %}
                                    <a href="{% url 'cbc:cbc-delete' pk=object.id%}" class="btn btn-danger">Удалить</a>
                                </div>
                            {% endif %}
                            </div>
                            <div class="card-body p-0">
                                <div class="row justify-content-center py-8 px-8 px-md-0">
                                    <div class="col-md-10">
                                        <h1 class="d-flex justify-content-between pb-10 flex-column flex-md-row">Общий анализ крови</h1>
                                        <div class="table-responsive">
                                            {% include 'cbc/diff/diff_cbc.html' %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center py-8 px-8 px-md-0">
                                    <div class="col-md-10">
                                        <h1 class="d-flex justify-content-between pb-10 flex-column flex-md-row">Лейкоцитарная формула</h1>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th class="font-weight-bold text-muted text-uppercase">Показатель</th>
                                                        <th class="font-weight-bold text-muted text-uppercase">Значение</th>
                                                        <th class="font-weight-bold text-muted text-uppercase">Норма</th>
                                                        <th class="font-weight-bold text-muted text-uppercase">Комментарий</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {% if three_dif %}
                                                    {% include 'cbc/diff/diff_three.html' %}
                                                {% elif five_dif %}
                                                    {% include 'cbc/diff/diff_five.html' %}
                                                {% elif blood_smear %}
                                                    {% include 'cbc/diff/diff_blood_smear.html' %}
                                                {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                {% if blood_smear %}
                                    {% include 'cbc/diff/diff_indices.html' %}
                                {% endif %}
                                <div class="row justify-content-center py-8 px-8 px-md-0">
                                    <div class="col-md-10">
                                        <div class="alert alert-custom alert-secondary">
                                            <div class="alert-icon"><i class="la la-warning text-danger icon-3x"></i></div>
                                            <div class="alert-text">
                                                <p>
                                                    Результаты расшифровки анализов носят только информационный характер,
                                                    не являются диагнозом и не заменяют очную консультацию врача.
                                                    Администрация сайта не несет ответственности за возможные отрицательные
                                                    последствия, возникшие в результате самостоятельной интерпретации своих
                                                    анализов и назначения лечения или бездействия.
                                                </p>
                                                <p class="mb-0">
                                                    Приведенные нормы могут не совпадать с указанными в бланках анализов.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}