{% load static %}

<div id="kt_header" class="header header__transparent">
	<div class="container d-flex align-items-stretch justify-content-between">
		<div class="d-none d-lg-flex align-items-center">
			<a href="/"><img alt="Logo" src="{% static 'img/icon.png' %}" class="logo-sticky max-h-35px mr-8"></a>
            <a href="{% url 'cbc:three-dif-create' %}" class="text-white opacity-90 font-size-base d-none d-md-inline mr-4">Новый 3DIFF анализ</a>
            <a href="{% url 'cbc:five-dif-create' %}" class="text-white opacity-90 font-size-base d-none d-md-inline mr-4">Новый 5DIFF анализ</a>
            <a href="{% url 'cbc:blood-smear-create' %}" class="text-white opacity-90 font-size-base d-none d-md-inline">Новый анализ микроскопии</a>
        </div>
        <div class="topbar">
            {% if request.user.is_authenticated %}
                <div class="topbar-item mx-4">
                    <span class="text-muted font-weight-bold font-size-base mr-1">Привет,</span>
                    <a href="{% url 'cbc:cbc-list' %}"class="text-white opacity-90 font-size-base d-none d-md-inline">{{ request.user }}</a>
                </div>
                <div class="topbar-item ml-4">
                    <a href="{% url 'logout' %}" class="text-white opacity-90 font-size-base d-none d-md-inline">Выйти</a>
                </div>
            {% else %}
                <div class="topbar-item mx-4">
                    <a href="{% url 'login' %}" class="text-white opacity-90 font-size-base d-none d-md-inline">Войти</a>
                </div>
                <div class="topbar-item ml-4">
                    <a href="{% url 'patient:register' %}" class="text-white opacity-90 font-size-base d-none d-md-inline">Зарегистрироваться</a>
                </div>
            {% endif %}
		</div>
	</div>
</div>