<script>
    let inputs = $('input');
    let divs = $('div');
    let sum_input = $('#id_sum');
    let blood_type = $('#id_blood_smear-0-value_type');
    let change_range = function () {
        let three_diff_selected = $('#id_three_diff-0-value_type_1').is(':checked');
        let five_diff_selected = $('#id_five_diff-0-value_type_1').is(':checked');
        let blood_smear_selected = $('#id_blood_smear-0-value_type_1').is(':checked');
        if(three_diff_selected || five_diff_selected || blood_smear_selected) {
            $('.value-type .range__label').each(function() {
                $(this).html('%');
            })
        } else {
            $('.value-type .range__label').each(function() {
                $(this).html('10<sup>9</sup>/л');
            })
        }
    };

    let sex_label1 = $("label[for='id_sex_1']");
    let sex_label2 = $("label[for='id_sex_2']");
    let sex_input1 = $('#id_sex_1');
    let sex_input2 = $('#id_sex_2');
    let sex_div = $('#div_id_sex').children('div');

    let three_diff_label1 = $("label[for='id_three_diff-0-value_type_1']");
    let three_diff_label2 = $("label[for='id_three_diff-0-value_type_2']");
    let three_diff_input1 = $('#id_three_diff-0-value_type_1');
    let three_diff_input2 = $('#id_three_diff-0-value_type_2');
    let three_diff_div = $('#div_id_three_diff-0-value_type').children('div');

    let five_diff_label1 = $("label[for='id_five_diff-0-value_type_1']");
    let five_diff_label2 = $("label[for='id_five_diff-0-value_type_2']");
    let five_diff_input1 = $('#id_five_diff-0-value_type_1');
    let five_diff_input2 = $('#id_five_diff-0-value_type_2');
    let five_diff_div = $('#div_id_five_diff-0-value_type').children('div');

    let blood_smear_label1 = $("label[for='id_blood_smear-0-value_type_1']");
    let blood_smear_label2 = $("label[for='id_blood_smear-0-value_type_2']");
    let blood_smear_input1 = $('#id_blood_smear-0-value_type_1');
    let blood_smear_input2 = $('#id_blood_smear-0-value_type_2');
    let blood_smear_div = $('#div_id_blood_smear-0-value_type').children('div');

    $(document).ready(function(){
        $('#div_id_leukocyte label').append('<span class="range__label">10<sup>9</sup>/л</div>');
        $('#div_id_erythrocyte label').append('<span class="range__label">10<sup>12</sup>/л</div>');
        $('#div_id_hemoglobin label').append('<span class="range__label">г/л</div>');
        $('#div_id_hematocrit label').append('<span class="range__label">%</div>');
        $('#div_id_sed_rate label').append('<span class="range__label">мм/ч</div>');

        divs.filter('div[id*="div_id_three_diff-0"]').each(function() {
            $(this).addClass('value-type');
        });
        $('#div_id_three_diff-0-value_type').removeClass('value-type');

        divs.filter('div[id*="div_id_five_diff-0"]').each(function() {
            $(this).addClass('value-type');
        });
        $('#div_id_five_diff-0-value_type').removeClass('value-type');

        divs.filter('div[id*="div_id_blood_smear-0"]').each(function() {
            $(this).addClass('value-type');
        });
        $('#div_id_blood_smear-0-value_type').removeClass('value-type');

        $('.value-type').each(function() {
            $(this)
                .find('label')
                .append('<span class="range__label"></div>');
        });

        change_range();

        $('input[type=radio][name=three_diff-0-value_type]').on('change', function() {
            change_range();
        });

        $('input[type=radio][name=five_diff-0-value_type]').on('change', function() {
            change_range();
        });

        $('input[type=radio][name=blood_smear-0-value_type]').on('change', function() {
            change_range();
        });

        inputs.filter('[id*="id_blood_smear-0"]').each(function() {
            $(this).prop('required',true);
        });

        inputs.filter('[id*="id_five_diff-0"]').each(function() {
            $(this).prop('required',true);
        });

        inputs.filter('[id*="id_three_diff-0"]').each(function() {
            $(this).prop('required',true);
        });

        if ($('.errorlist li').text().length > 0) {
            inputs.filter('[id*="id_blood_smear-0"]').each(function() {
                $(this).addClass('is-invalid');
            });
        }

        blood_type.on('change', function() {
            inputs.filter('[id*="id_blood_smear-0"]').each(function() {
                $(this).removeClass('is-invalid');
            });
        });

        inputs.on('focus', function() {
            $(this).filter('[id*="id_blood_smear-0"]').each(function() {
                $(this).removeClass('is-invalid');
            });
        });

        inputs.on('change', function() {
            if(blood_type.val() === 'relative') {
                let sum = +$('#id_sum').val();
                $(this).filter('[id*="id_blood_smear-0"]').each(function() {
                    sum += +this.value;
                });
                sum_input.val(sum.toFixed(2));
            } else {
                sum_input.val(100);
            }
        });

        blood_type.on('change', function() {
            sum_input.val(0);
            $('input').filter('[id*="id_blood_smear-0"]').each(function() {
                $(this).val('');
            });
        });

        radiomize(sex_label1, sex_label2, sex_input1, sex_input2, sex_div);
        radiomize(three_diff_label1, three_diff_label2, three_diff_input1, three_diff_input2, three_diff_div);
        radiomize(five_diff_label1, five_diff_label2, five_diff_input1, five_diff_input2, five_diff_div);
        radiomize(blood_smear_label1, blood_smear_label2, blood_smear_input1, blood_smear_input2, blood_smear_div);
    });
</script>