let intoxicationKK_arr = [
    {% for item in blood_diagram reversed %}
        {
            "date": "{{ item.cbc.analysis_date|date:"d.m.y" }}",
            "value": parseFloat({{ item.intoxicationKK|stringformat:".2f" }}),
            "type": parseInt({{ item.cbc.type }}),
            "pk": parseInt({{ item.cbc.pk }})
        },
    {% endfor %}
];

let intoxicationO_arr = [
    {% for item in blood_diagram reversed %}
        {
            "date": "{{ item.cbc.analysis_date|date:"d.m.y" }}",
            "value": parseFloat({{ item.intoxicationO|stringformat:".2f" }}),
            "type": parseInt({{ item.cbc.type }}),
            "pk": parseInt({{ item.cbc.pk }})
        },
    {% endfor %}
];

let nuclear_arr = [
    {% for item in blood_diagram reversed %}
        {
            "date": "{{ item.cbc.analysis_date|date:"d.m.y" }}",
            "value": parseFloat({{ item.nuclear|stringformat:".2f" }}),
            "type": parseInt({{ item.cbc.type }}),
            "pk": parseInt({{ item.cbc.pk }})
        },
    {% endfor %}
];

let shift_arr = [
    {% for item in blood_diagram reversed %}
        {
            "date": "{{ item.cbc.analysis_date|date:"d.m.y" }}",
            "value": parseFloat({{ item.shift|stringformat:".2f" }}),
            "type": parseInt({{ item.cbc.type }}),
            "pk": parseInt({{ item.cbc.pk }})
        },
    {% endfor %}
];

let allergy_arr = [
    {% for item in blood_diagram reversed %}
        {
            "date": "{{ item.cbc.analysis_date|date:"d.m.y" }}",
            "value": parseFloat({{ item.allergy|stringformat:".2f" }}),
            "type": parseInt({{ item.cbc.type }}),
            "pk": parseInt({{ item.cbc.pk }})
        },
    {% endfor %}
];

let intoxicationKK_ran = [
    parseFloat({{ range.intoxicationKK_min|stringformat:".2f" }}),
    parseFloat({{ range.intoxicationKK_max|stringformat:".2f" }})
];

let intoxicationO_ran = [
    parseFloat({{ range.intoxicationO_min|stringformat:".2f" }}),
    parseFloat({{ range.intoxicationO_max|stringformat:".2f" }})
];

let nuclear_ran = [
    parseFloat({{ range.nuclear_min|stringformat:".2f" }}),
    parseFloat({{ range.nuclear_max|stringformat:".2f" }})
];

let shift_ran = [
    parseFloat({{ range.shift_min|stringformat:".2f" }}),
    parseFloat({{ range.shift_max|stringformat:".2f" }})
];

let allergy_ran = [
    parseFloat({{ range.allergy_min|stringformat:".2f" }}),
    parseFloat({{ range.allergy_max|stringformat:".2f" }})
];

charts("intoxicationKK", intoxicationKK_arr, intoxicationKK_ran);
charts("intoxicationO", intoxicationO_arr, intoxicationO_ran);
charts("nuclear", nuclear_arr, nuclear_ran);
charts("shift", shift_arr, shift_ran);
charts("allergy", allergy_arr, allergy_ran);