let leukocyte_arr = [
    {% for item in cbc reversed %}
        {
            "date": "{{ item.analysis_date|date:"d.m.y" }}",
            "value": parseFloat({{ item.leukocyte|stringformat:".2f" }}),
            "type": parseInt({{ item.type }}),
            "pk": parseInt({{ item.pk }})
        },
    {% endfor %}
];

let erythrocyte_arr = [
    {% for item in cbc reversed %}
        {
            "date": "{{ item.analysis_date|date:"d.m.y" }}",
            "value": parseFloat({{ item.erythrocyte|stringformat:".2f" }}),
            "type": parseInt({{ item.type }}),
            "pk": parseInt({{ item.pk }})
        },
    {% endfor %}
];

let hemoglobin_arr = [
    {% for item in cbc reversed %}
        {
            "date": "{{ item.analysis_date|date:"d.m.y" }}",
            "value": parseInt({{ item.hemoglobin }}),
            "type": parseInt({{ item.type }}),
            "pk": parseInt({{ item.pk }})
        },
    {% endfor %}
];

let hematocrit_arr = [
    {% for item in cbc reversed %}
        {
            "date": "{{ item.analysis_date|date:"d.m.y" }}",
            "value": parseFloat({{ item.hematocrit|stringformat:".2f" }}),
            "type": parseInt({{ item.type }}),
            "pk": parseInt({{ item.pk }})
        },
    {% endfor %}
];

let sed_rate_arr = [
    {% for item in cbc reversed %}
        {
            "date": "{{ item.analysis_date|date:"d.m.y" }}",
            "value": parseInt({{ item.sed_rate }}),
            "type": parseInt({{ item.type }}),
            "pk": parseInt({{ item.pk }})
        },
    {% endfor %}
];

let leukocyte_ran = [
    parseFloat({{ range.leukocyte_min|stringformat:".2f" }}),
    parseFloat({{ range.leukocyte_max|stringformat:".2f" }})
];

let erythrocyte_ran = [
    parseFloat({{ range.erythrocyte_min|stringformat:".2f" }}),
    parseFloat({{ range.erythrocyte_max|stringformat:".2f" }})
];

let hemoglobin_ran = [
    parseInt({{ range.hemoglobin_min }}),
    parseInt({{ range.hemoglobin_max }})
];

let hematocrit_ran = [
    parseFloat({{ range.hematocrit_min|stringformat:".2f" }}),
    parseFloat({{ range.hematocrit_max|stringformat:".2f" }})
];

let sed_rate_ran = [
    parseInt({{ range.sed_rate_min }}),
    parseInt({{ range.sed_rate_max }})
];

charts("leukocyte", leukocyte_arr, leukocyte_ran);
charts("erythrocyte", erythrocyte_arr, erythrocyte_ran);
charts("hemoglobin", hemoglobin_arr, hemoglobin_ran);
charts("hematocrit", hematocrit_arr, hematocrit_ran);
charts("sed_rate", sed_rate_arr, sed_rate_ran);