<table class="table">
    <thead>
    <tr>
        <th class="font-weight-bold text-muted text-uppercase">Показатель</th>
        <th class="font-weight-bold text-muted text-uppercase">Значение</th>
        <th class="font-weight-bold text-muted text-uppercase">Норма</th>
        <th class="font-weight-bold text-muted text-uppercase">Комментарий</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="font-weight-boldest">Лейкоциты</td>
        <td>{{ object.leukocyte }}</td>
        <td>{{ range.cbc.leukocyte_min }} - {{ range.cbc.leukocyte_max }} &#215; 10<sup>9</sup>/л</td>
        {% if object.leukocyte < range.cbc.leukocyte_min %}
            <td class="text-danger font-weight-bolder">
                Понижено
                <button type="button" class="btn btn-link" style="padding: 0 !important;" data-container="body" data-toggle="popover" data-html="true"
                        data-content="Снижение содержания лейкоцитов наблюдается при:
                        <ul class='mt-1 mb-0'>
                        <li>воздействии ряда химических веществ;</li>
                        <li>после облучения;</li>
                        <li>гипопластических и апластических процессов;</li>
                        <li>приеме лекарственных препаратов;</li>
                        <li>заболеваниях селезенки;</li>
                        <li>инфекционных заболеваниях;</li>
                        <li>эндокринных заболеваниях;</li>
                        <li>лейкозах;</li>
                        <li>метастазировании новообразований в костный мозг.</li>
                        </ul>"
                >
                    <i class="la la-question-circle icon-lg text-danger"></i>
                </button>
            </td>
        {% elif object.leukocyte > range.cbc.leukocyte_max %}
            <td class="text-danger font-weight-bolder">
                Повышено
                <button type="button" class="btn btn-link" style="padding: 0 !important;" data-container="body" data-toggle="popover" data-html="true"
                        data-content="Повышение содержания лейкоцитов наблюдается при:
                        <ul class='mt-1 mb-0'>
                        <li>различных воспалительных заболеваниях;</li>
                        <li>инфекционных заболеваниях;</li>
                        <li>стрессе;</li>
                        <li>инфарктах различных органов;</li>
                        <li>обширных ожогах;</li>
                        <li>кровопотерях;</li>
                        <li>злокачественных заболеваниях;</li>
                        <li>заболеваниях системы крови;</li>
                        <li>уремии;</li>
                        <li>диабетической коме.</li>
                        </ul>"
                >
                    <i class="la la-question-circle icon-lg text-danger"></i>
                </button>
            </td>
        {% else %}
            <td></td>
        {% endif %}
    </tr>
    <tr>
        <td class="font-weight-boldest">Эритроциты</td>
        <td>{{ object.erythrocyte }}</td>
        <td>{{ range.cbc.erythrocyte_min }} - {{ range.cbc.erythrocyte_max }} &#215; 10<sup>12</sup>/л</td>
        {% if object.erythrocyte < range.cbc.erythrocyte_min %}
            <td class="text-danger font-weight-bolder">
                Понижено
                <button type="button" class="btn btn-link" style="padding: 0 !important;" data-container="body" data-toggle="popover" data-html="true"
                        data-content="Снижение содержания эритроцитов наблюдается при анемиях."
                >
                    <i class="la la-question-circle icon-lg text-danger"></i>
                </button>
            </td>
        {% elif object.erythrocyte > range.cbc.erythrocyte_max %}
            <td class="text-danger font-weight-bolder">
                Повышено
                <button type="button" class="btn btn-link" style="padding: 0 !important;" data-container="body" data-toggle="popover" data-html="true"
                        data-content="Повышение содержания эритроцитов наблюдается при эритремии (первичном эритроцитозе)."
                >
                    <i class="la la-question-circle icon-lg text-danger"></i>
                </button>
            </td>
        {% else %}
            <td></td>
        {% endif %}
    </tr>
    <tr>
        <td class="font-weight-boldest">Гемоглобин</td>
        <td>{{ object.hemoglobin }}</td>
        <td>{{ range.cbc.hemoglobin_min }} - {{ range.cbc.hemoglobin_max }} г/л</td>
        {% if object.hemoglobin < range.cbc.hemoglobin_min %}
            <td class="text-danger font-weight-bolder">
                Понижено
                <button type="button" class="btn btn-link" style="padding: 0 !important;" data-container="body" data-toggle="popover" data-html="true"
                        data-content="Снижение содержания гемоглобина наблюдается при анемиях."
                >
                    <i class="la la-question-circle icon-lg text-danger"></i>
                </button>
            </td>
        {% elif object.hemoglobin > range.cbc.hemoglobin_max %}
            <td class="text-danger font-weight-bolder">
                Повышено
                <button type="button" class="btn btn-link" style="padding: 0 !important;" data-container="body" data-toggle="popover" data-html="true"
                        data-content="Повышение содержания гемоглобина наблюдается при:
                        <ul class='mt-1 mb-0'>
                        <li>полицитемии;</li>
                        <li>чрезмерной физической нагрузке;</li>
                        <li>стрессе;</li>
                        <li>пребывании на больших высотах;</li>
                        <li>дегидратации (ожоги, частая рвота, кишечная непроходимость).</li>
                        </ul>"
                >
                    <i class="la la-question-circle icon-lg text-danger"></i>
                </button>
            </td>
        {% else %}
            <td></td>
        {% endif %}
    </tr>
    <tr>
        <td class="font-weight-boldest">Гематокрит</td>
        <td>{{ object.hematocrit }}</td>
        <td>{{ range.cbc.hematocrit_min }} - {{ range.cbc.hematocrit_max }} %</td>
        {% if object.hematocrit < range.cbc.hematocrit_min %}
            <td class="text-danger font-weight-bolder">
                Понижено
                <button type="button" class="btn btn-link" style="padding: 0 !important;" data-container="body" data-toggle="popover" data-html="true"
                        data-content="Снижение содержания гематокрита наблюдается при:
                        <ul class='mt-1 mb-0'>
                        <li>анемиях;</li>
                        <li>почечной недостаточности;</li>
                        <li>во второй половине беременности.</li>
                        </ul>"
                >
                    <i class="la la-question-circle icon-lg text-danger"></i>
                </button>
            </td>
        {% elif object.hematocrit > range.cbc.hematocrit_max %}
            <td class="text-danger font-weight-bolder">
                Повышено
                <button type="button" class="btn btn-link" style="padding: 0 !important;" data-container="body" data-toggle="popover" data-html="true"
                        data-content="Повышение содержания гематокрита наблюдается при:
                        <ul class='mt-1 mb-0'>
                        <li>эритремиях;</li>
                        <li>сердечной или дыхательной недостаточности;</li>
                        <li>обезвоживании (рвоты, ожоги, сахарный диабет).</li>
                        </ul>"
                >
                    <i class="la la-question-circle icon-lg text-danger"></i>
                </button>
            </td>
        {% else %}
            <td></td>
        {% endif %}
    </tr>
    <tr>
        <td class="font-weight-boldest">СОЭ</td>
        <td>{{ object.sed_rate }}</td>
        <td>{{ range.cbc.sed_rate_min }} - {{ range.cbc.sed_rate_max }} мм/ч</td>
        {% if object.sed_rate < range.cbc.sed_rate_min %}
            <td class="text-danger font-weight-bolder">
                Понижено
                <button type="button" class="btn btn-link" style="padding: 0 !important;" data-container="body" data-toggle="popover" data-html="true"
                        data-content="Снижение содержания СОЭ наблюдается при:
                        <ul class='mt-1 mb-0'>
                        <li>сгущении крови;</li>
                        <li>голодании;</li>
                        <li>снижении мышечной массы;</li>
                        <li>вегетарианской диете;</li>
                        <li>приеме кортикостероидов.</li>
                        </ul>"
                >
                    <i class="la la-question-circle icon-lg text-danger"></i>
                </button>
            </td>
        {% elif object.sed_rate > range.cbc.sed_rate_max %}
            <td class="text-danger font-weight-bolder">
                Повышено
                <button type="button" class="btn btn-link" style="padding: 0 !important;" data-container="body" data-toggle="popover" data-html="true"
                        data-content="Повышение содержания СОЭ наблюдается при:
                        <ul class='mt-1 mb-0'>
                        <li>различных воспалительных процессах;</li>
                        <li>интоксикациях;</li>
                        <li>острых и хронических инфекциях;</li>
                        <li>инфаркте миокарда;</li>
                        <li>опухолях;</li>
                        <li>после кровопотерь;</li>
                        <li>оперативных вмешательств.</li>
                        </ul>"
                >
                    <i class="la la-question-circle icon-lg text-danger"></i>
                </button>
            </td>
        {% else %}
            <td></td>
        {% endif %}
    </tr>
    </tbody>
</table>