<tr>
    <td class="font-weight-boldest">Нейтрофилы</td>
    <td>{{ three_dif.neutrophil }}</td>
    <td>{{ range.diff.neutrophil_min }} - {{ range.diff.neutrophil_max }}
        {% if three_dif.value_type == 'relative' %}
            %
        {% elif three_dif.value_type == 'absolute' %}
            &#215; 10<sup>9</sup>/л
        {% endif %}
    </td>
    {% if three_dif.neutrophil < range.diff.neutrophil_min %}
        <td class="text-danger font-weight-bolder">
            Понижено
            <button type="button" class="btn btn-link" style="padding: 0 !important;" data-container="body" data-toggle="popover" data-html="true"
                    data-content="Снижение содержания нейтрофилов наблюдается при:
                    <ul class='mt-1 mb-0'>
                    <li>вирусных инфекциях;</li>
                    <li>хронических инфекциях;</li>
                    <li>после приема цитостатиков;</li>
                    <li>после облучения;</li>
                    <li>анемиях;</li>
                    <li>агранулоцитозе;</li>
                    <li>тиреотоксикозе;</li>
                    <li>последствии химиотерапии;</li>
                    <li>применении антибактериальных, противовоспалительных, противовирусных препаратов.</li>
                    </ul>"
            >
                <i class="la la-question-circle icon-lg text-danger"></i>
            </button>
        </td>
    {% elif three_dif.neutrophil > range.diff.neutrophil_max %}
        <td class="text-danger font-weight-bolder">
            Повышено
            <button type="button" class="btn btn-link" style="padding: 0 !important;" data-container="body" data-toggle="popover" data-html="true"
                    data-content="Повышение содержания нейтрофилов наблюдается при:
                    <ul class='mt-1 mb-0'>
                    <li>острых воспалительных заболеваниях;</li>
                    <li>интоксикации;</li>
                    <li>шоке;</li>
                    <li>кровотечении;</li>
                    <li>инфаркте миокарда;</li>
                    <li>гемолитическом кризе;</li>
                    <li>хроническом миелолейкозе;</li>
                    <li>сепсисе;</li>
                    <li>туберкулезе;</li>
                    <li>злокачественных опухолях с метастазами в костный мозг;</li>
                    <li>сахарном диабете;</li>
                    <li>уремии;</li>
                    <li>использовании иммуностимулирующих препаратов;</li>
                    <li>как ответная реакция на прививки.</li>
                    </ul>"
            >
                <i class="la la-question-circle icon-lg text-danger"></i>
            </button>
        </td>
    {% else %}
        <td></td>
    {% endif %}
</tr>
<tr>
    <td class="font-weight-boldest">Лимфоциты</td>
    <td>{{ three_dif.lymphocyte }}</td>
    <td>{{ range.diff.lymphocyte_min }} - {{ range.diff.lymphocyte_max }}
        {% if three_dif.value_type == 'relative' %}
            %
        {% elif three_dif.value_type == 'absolute' %}
            &#215; 10<sup>9</sup>/л
        {% endif %}
    </td>
    {% if three_dif.lymphocyte < range.diff.lymphocyte_min %}
        <td class="text-danger font-weight-bolder">
            Понижено
            <button type="button" class="btn btn-link" style="padding: 0 !important;" data-container="body" data-toggle="popover" data-html="true"
                    data-content="Снижение содержания лимфоцитов наблюдается при:
                    <ul class='mt-1 mb-0'>
                    <li>аномалии развития лимфоидной системы;</li>
                    <li>торможении лимфопоэза;</li>
                    <li>ускоренной гибели лимфоцитов.</li>
                    </ul>"
            >
                <i class="la la-question-circle icon-lg text-danger"></i>
            </button>
        </td>
    {% elif three_dif.lymphocyte > range.diff.lymphocyte_max %}
        <td class="text-danger font-weight-bolder">
            Повышено
            <button type="button" class="btn btn-link" style="padding: 0 !important;" data-container="body" data-toggle="popover" data-html="true"
                    data-content="Повышение содержания лимфоцитов наблюдается при:
                    <ul class='mt-1 mb-0'>
                    <li>хроническом лимфолейкозе;</li>
                    <li>хронической лучевой болезни;</li>
                    <li>бронхиальной астме;</li>
                    <li>тиреотоксикозе;</li>
                    <li>коклюше;</li>
                    <li>туберкулезе;</li>
                    <li>после спленэктомии;</li>
                    <li>приеме наркотиков.</li>
                    </ul>"
            >
                <i class="la la-question-circle icon-lg text-danger"></i>
            </button>
        </td>
    {% else %}
        <td></td>
    {% endif %}
</tr>
<tr>
    <td class="font-weight-boldest">Моноциты</td>
    <td>{{ three_dif.monocyte }}</td>
    <td>{{ range.diff.monocyte_min }} - {{ range.diff.monocyte_max }}
        {% if three_dif.value_type == 'relative' %}
            %
        {% elif three_dif.value_type == 'absolute' %}
            &#215; 10<sup>9</sup>/л
        {% endif %}
    </td>
    {% if three_dif.monocyte < range.diff.monocyte_min %}
        <td class="text-danger font-weight-bolder">
            Понижено
            <button type="button" class="btn btn-link" style="padding: 0 !important;" data-container="body" data-toggle="popover" data-html="true"
                    data-content="Снижение содержания моноцитов наблюдается при:
                    <ul class='mt-1 mb-0'>
                    <li>апластической анемии;</li>
                    <li>волосатоклеточном лейкозе;</li>
                    <li>гнойных процессах (абсцессы, флегмоны, остеомиелит);</li>
                    <li>приеме стероидных препаратов;</li>
                    <li>после хирургических вмешательств.</li>
                    </ul>"
            >
                <i class="la la-question-circle icon-lg text-danger"></i>
            </button>
        </td>
    {% elif three_dif.monocyte > range.diff.monocyte_max %}
        <td class="text-danger font-weight-bolder">
            Повышено
            <button type="button" class="btn btn-link" style="padding: 0 !important;" data-container="body" data-toggle="popover" data-html="true"
                    data-content="Повышение содержания моноцитов наблюдается при:
                    <ul class='mt-1 mb-0'>
                    <li>хронических инфекциях (туберкулез, сифилис, бруцеллез);</li>
                    <li>острых инфекциях (краснуха, скарлатина, инфекционный паротит, мононуклеоз);</li>
                    <li>лимфогранулематозе;</li>
                    <li>эндокардитах (баночная проба Вальдмана).</li>
                    </ul>"
            >
                <i class="la la-question-circle icon-lg text-danger"></i>
            </button>
        </td>
    {% else %}
        <td></td>
    {% endif %}
</tr>